---
title: Dmitry Gladkikh - Front-End Developer
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
  </head>
  <body>
    {{ content | safe }}
    {% image "./src/images/1155017.jpg", "photo of something", "(min-width: 30em) 50vw, 100vw" %}
  </body>
</html>