---
title: Dmitry Gladkikh - Front-End Developer
name: Dmitry Gladkikh
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    {% set css %}
      {% include "css/index.css" %}
    {% endset %}
    <style>{{ css | safe }}</style>
  </head>
  <body>
    <header class="intro">
      <div class="avatar">
        <figure>
          {% image "images/avatar.jpg", "", "Dmitry Gladkikh", "(min-width: 30em) 50vw, 100vw" %}
          <figcaption>{{ name }}</figcaption>
        </figure>
      </div>
    </header>
    {{ content | safe }}
  </body>
</html>